@charset "utf-8";

/*----media----*/
@import url('https://fonts.googleapis.com/css?family=Poppins');



.search-text{
	background-color:#ffc0cb;
	padding-top:60px;
	padding-bottom:60px;
}
	
.search-text .input-search{
	height:45px;
	width:40%;
	padding-left:20px;
    color:#333;
} 

.search-text .btn-search{
	background-color:#ffcfcf;
	border:1px solid #FFF;
	color:#FFF;
	padding: 11px 22px;
}

.search-text  .btn-search:hover{
	background-color:#FFF;
	color:#7dabdb;
}

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
   margin:15px 0px;
    text-align: center;
}

footer{
	background-color:#222222;
	padding: 60px 0px;
}

